*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
}
body{
  font-family: 'Inter';
}

.container{
  margin: 45px 40px;
  display: flex;
  flex-direction: column;

}

.second-image{
  height: 30px;
  width: 30px;
}

.img-settings{
  width: 50px;
  height: auto;
  margin-right: 7px;
}

header{
  background-color: #F55A5A;
  height: 11vh;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
}

div>h1{
  font-size: 2rem;
  font-family: 'Inter'sans-serif;
}

.div-header{
  display: flex;
  justify-content: center;
  padding: 6px;
}

article.journal-entry{
  display: flex;
  
  padding: 20px;
  margin-left: 20px;
}

article.journal-entry .second-image{

  margin-right: 4px;
}


div.info-container{
  margin-left: 10px;
}

div.info-container span{
  margin-right: 8px;
  text-transform: uppercase;
  font-weight: bold;
}

div.info-container a{
  color: #918E9B;
}

div.info-container p.trip-dates{
  font-weight: bold;
}

div.info-container h2.entry-title{
  margin-top: 10px;
  margin-bottom: 20px;
}

div.info-container p.entry-text{
  line-height: 1.5;
  font-size: 0.8rem;
  display:-webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

}
